@import "tailwindcss";

body {
  margin: 0;
  background-color: #050505;
}

/* ===== 가사창 스크롤바 숨김 ===== */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

select {
  color-scheme: dark;
}

select option {
  background-color: #18181b;
  color: #ffffff;
}

select option:checked {
  background-color: #004aad;
  color: #ffffff;
}

select option:hover {
  background-color: #004aad;
  color: #ffffff;
}
